main {
  min-height: 80vh;
}

a {
  color: white;
  font-weight: bold;
}
a:hover {
   color: blue;
}

a.home {
  color: black;
  font-weight: bold;
}

div.safety {
  font-size: 20px;
  padding: 6px;
  display: inline-block;
  vertical-align: text-top;
  min-width: 300px;
}

div.alignlogin {
  display: inline-block;
}

div.votingbuttons {
  display: flex;
  justify-content: space-between;
}

div.counterList {
  padding: 2px 2px 2px 2px;
  color: white;
  background: black;
  border-radius: 10px;
  vertical-align: middle;
  border: ivory;
  border-width: 2px;
}

div.calendar {
  color: white;
  display: inline-block;
  min-width: 175px;
  font-size: 20px;
  padding: 6px;
  background: #2780e3;
  width: fit-content;
  border-style: solid;
  border-color: white;
  text-align: center;
  border-radius: 10px;
}

div.calendar:hover {
  color: #2780e3;
  display: inline-block;
  min-width: 175px;
  font-size: 20px;
  padding: 6px;
  background: white;
  width: fit-content;
  border-style: solid;
  border-color: #2780e3;
  text-align: center;
  border-radius: 10px;
}


div.counter {
  text-align: center;
  padding-right: 10px;
}

td, th  {
  width: auto;
}

td.min, th.min {
  white-space: nowrap;
  padding: 8px;
  text-align: center;
}

td.ice {
  color: #65499c;
  background: #c7a4ff
}

td.cold {
  color: #49599a;
  background: #aab6fe;
}

td.neutral {
  color: #2286c3;
  background: #9be7ff;
}

td.neutral2 {
  color: #00867d;
  background: #82e9de;
}

td.warm {
  color: #519657;
  background: #b2fab4;
}

td.gcell {
  color: #519657;
  background: #b2fab4;
  font-weight: bold;
  white-space: nowrap;
  padding: 8px;
  text-align: center;
}

td.bcell {
  color: #ba6b6c;
  background: #ffcccb;
  font-weight: bold;
  white-space: nowrap;
  padding: 8px;
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  text-align: center;
}

.btn-homepage {
  color: #fff;
  background-color: #2780e3;
  border-color: #2780e3;
  border-radius: 10px;
}

.btn.loginSecondary {
  color: #2780e3;
  background-color: white;
  border-color: #2780e3;
  border-radius: 10px;
}

.btn.loginSecondary:hover {
  color: white;
  background-color: #2780e3;
  border-color: #2780e3;
  border-radius: 10px;
}


.btn {
  border-radius: 10px;
}

.card-style {
  display: inline-block;
  min-width: 175px;
  text-align: center;
  padding: 5px;
  border-block: 10px;
  border-color: white;
  border-radius: 10px;
}

div.logout {
  text-align: right;
  display: inline-flex;
}

div.loginname {
  text-align: right;
  color: white;
  font-weight: bold;
  display: inline-block
}

div.votingSection {
  vertical-align: text-top;
}

input.register {
  color: #fff;
  background-color: #2780e3;
  border-radius: 10px;
  border-color: #2780e3;
  padding-left: 12px;
  padding-right: 12px;
}

.navbar.custom {
  position: relative;
  display: flex;
  flex-wrap: initial;
  /* flex-wrap: initial; */
  /* align-items: center; */
  /* justify-content: space-between; */
  padding: 1rem 1rem;
}

ul.voting {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

li.listCount {
  list-style-type: none;
  color: black;
  background: #dadde0;
  padding:2px;
  text-align: center;
  list-style-position:inside;
  border: 5px solid white;
  border-radius: 10px;
}

.badge-locations {
color: #fff;
background-color: #2780e3;
border: white;
border-width: 10px;
padding: 10px 10px 10px 10px;
border-radius: 10px;
}
